name: Read Logs Workflow

on:
  workflow_run:
    workflows: ["Main Workflow - Save Logs"]
    types:
      - completed

jobs:
  read-logs:
    runs-on: Linux
    steps:
      - name: Download log artifact
        uses: actions/download-artifact@v4
        with:
          name: gh-cli-logs

      - name: Display logs
        run: |
          echo "=== Logs from previous workflow ==="
          cat gh_log.txt
